{{top-nav}}
{{#if notice}}
  <p class="alert alert-success">{{notice}}</p>
{{/if}}

{{#if alert}}
  <p class="alert alert-danger">{{alert}}</p>
{{/if}}

<p>This is in the application.hbs</p>
{{outlet}}